{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "all",
  "proseWrap": "preserve",
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "quoteProps": "consistent",
  "endOfLine": "auto"
}
